<div class="row">
  <div class="w3-sidebar w3-light-grey w3-bar-block col-12" style="width:15%">
    <h3 class="w3-bar-item titulo">Meus Livros</h3>
    <hr>
    <div style="width: 90%;">
      <a type="button" class="btn btn-primary btn-sidebar" [routerLink] = "['livros']">Livros</a>
    </div>

    <div style="width: 90%;">
      <a type="button" class="btn btn-primary btn-sidebar">Autores</a>
    </div>

    <div style="width: 90%;">
      <a type="button" class="btn btn-primary btn-sidebar">Editoras</a>
    </div>
  </div>

  <div class="content col-10">
    <router-outlet></router-outlet>
  </div>
</div>
